<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>hahah.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>16DC67C41BFD594800614B76</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>16DC67DD1BFD594800614B76</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>16DC67E81BFD594800614B76</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
